/*slider*/
#sequence .controls {background: none}
.sequence-next, .sequence-prev, .sequence-pause {display: none!important}
.slider-wrapper:hover .sequence-next,
.slider-wrapper:hover .sequence-prev {display: block!important}

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: 700;
  padding: 20px 27px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  margin-top: -47.5px;
}
.sequence-prev {
  left: 0;
}

.sequence-next {
  right: 0;
}

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}

.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  background: #000; font-size: 48px; color: #fff
}

.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}