/*Quote*/
blockquote {border: none; padding: 0; margin: 0}
blockquote.testi {position: relative;}
blockquote.testi:before,
blockquote.testi:after {content: "“"; font-size: 70px; font-family: Georgia; position: absolute; line-height: 1; color: #868f90; font-weight: bold;}
blockquote.testi:after { content: "”"; bottom: -0.9em; right: -50px}
blockquote.testi:before {left: -50px; top: -18px}


/*Prev-Next*/
a {text-decoration: none; outline: none;-moz-transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;-ms-transition: all 0.2s linear}
a:hover {text-decoration: none;-moz-transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;-ms-transition: all 0.2s linear}
a:focus {outline: none; text-decoration: none}


/*Testimonial*/
p.testi-2{font-family: 'Roboto', sans-serif; font-size: 14px}
h2.testi-2{font-family: 'Roboto Slab', serif}
.home-testi {text-align: center; background: url(../images/bg-testi.jpg) no-repeat; padding: 50px 0 60px; overflow: hidden;}
.home-testi h2{color: #fff; font-size: 30px; text-transform: uppercase; font-weight: 700}
.home-testi p{font-weight: 300; color: #fff; font-size: 18px; margin: 35px 0; line-height: 30px}
.home-testi span{display: block; color: #fff; font-weight: 300}
.home-testi a{display: block; color: #fff; font-family: 'Roboto Slab', serif; text-transform: capitalize; margin: 15px 0; font-weight: 400}


/*Flex slider*/
.flexslider {background: none; border: none; box-shadow: none; margin: 0}
.flexslider .slides img {width: auto; display: inline-block;}
.flex-direction-nav a {background: none; text-indent: inherit;
height: auto; width: auto; margin: -40px 0 0!important; color: #fff
}
.flex-direction-nav a.pgl { padding: 20px 27px; background: rgba(0, 0, 0, 0.5); font-weight: 700; font-size: 48px; margin-left: 0;margin-right: 0}
.flexslider:hover .flex-next {opacity: 0.8; right: 0;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0}